<%- include('./partials/head') %>

  <body>
    <main class="admin-panel">
      <%- include('./partials/sidebar') %>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-11">
              <h1>Welcome, Admin!</h1>
              <p>This is the admin panel for the patient management system.</p>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-danger logoutB" href="#">LogOut</button>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <button id="overviewToggleBtn" type="button" class="btn btn-primary">Overview Of Doctors</button>
            </div>
            <div class="col-3">
              <button id="toggleBtn" type="button" class="btn btn-primary">Doctor Registation</button>
            </div>
            <div class="col-3">
              <a href="/admin/doctor" class="btn btn-primary" >View All Doctors</a>
            </div>
          </div>
          <div class="block">
            <div id="Registation" class="hidden">
              <h3 style="text-align: center;">Doctor Registation Form</h3>

              <form action="/doctor/register" method="POST" novalidate class="validated-form">

                <div class="d-flex justify-content-around">

                  <div class="col-5">

                    <div class="mb-3">
                      <label for="firstName" class="form-label">First Name:</label>
                      <input type="text" id="firstName" class="form-control" name="doctor[firstName]" required>
                      <div class="valid-feedback">
                        Looks Good!
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="lastName" class="form-label">Last Name:</label>
                      <input type="text" id="lastName" class="form-control" name="doctor[lastName]" required>
                      <div class="valid-feedback">
                        Looks Good!
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="nic" class="form-label">NIC:</label>
                      <input type="text" id="nic" name="doctor[nic]" class="form-control" required>
                      <div class="valid-feedback">
                        Looks Good!
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                      <input type="date" id="dateOfBirth" name="doctor[dateOfBirth]" class="form-control" required>
                      <div class="valid-feedback">
                        Looks Good!
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="gender" class="form-label">Gender:</label>
                      <select id="gender" name="doctor[gender]" class="form-control" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                      <div class="valid-feedback">
                        Looks Good!
                      </div>
                    </div>


                    <div class="mb-3">
                      <label for="contactNumber" class="form-label">Contact Number:</label>
                      <input type="text" id="contactNumber" class="form-control" name="doctor[contactNumber]"
                        required><br>
                    </div>

                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" class="form-control" name="doctor[email]" required><br>


                    <label for="number" class="form-label">Number Of Address :</label>
                    <input type="number" id="number" class="form-control" name="doctor[address.number]"><br>

                  </div>

                  <div class="col-5">
                    <label for="street" class="form-label">Street:</label>
                    <input type="text" id="street" class="form-control" name="doctor[address.street]"><br>

                    <label for="city" class="form-label">City:</label>
                    <input type="text" id="city" class="form-control" name="doctor[address.city]"><br>

                    <label for="state">State:</label>
                    <input type="text" id="state" class="form-control" name="doctor[address.state]"><br>

                    <label for="postalCode">Postal Code:</label>
                    <input type="number" id="postalCode" class="form-control" name="doctor[address.postalCode]"><br>

                    <label for="medicalLicenseNumber">Medical License Number:</label>
                    <input type="text" id="medicalLicenseNumber" class="form-control"
                      name="doctor[medicalLicenseNumber]" required><br>

                    <label for="specialization">Specialization:</label>
                    <select id="specialization" class="form-control" name="doctor[specialization]" required>
                      <option value="Internal Medicine">Internal Medicine</option>
                      <option value="Family Medicine">Family Medicine</option>
                      <option value="Pediatrics">Pediatrics</option>
                      <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                      <option value="General Surgery">General Surgery</option>
                      <option value="Anesthesiology">Anesthesiology</option>
                      <option value="Psychiatry">Psychiatry</option>
                      <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                      <option value="Cardiology">Cardiology</option>
                      <option value="Dermatology">Dermatology</option>
                    </select><br>

                    <label for="degree">Degree:</label>
                    <input type="text" id="degree" class="form-control" name="doctor[degree]" required><br>

                    <label for="university">University:</label>
                    <input type="text" id="university" class="form-control" name="doctor[university]" required>

                    <br>


                    <div class="mb-3">
                      <button type="submit" class="btn btn-primary form-control">Register</button>
                    </div>
                  </div>

                </div>
              </form>
            </div>

            <!-- add some overview Of Doctors -->
            <div id="overview" class="">
              <div class="block">
                <form action="/admin/doctor" method="GET">
                  <div class="d-flex justify-content-around p-5">
                    <div class="col-md-2" style="text-align: right;">
                      <label for="selectType" class="form-label">
                        <h3>Select Type :</h3>
                      </label>
                    </div>
                    <div class="col-md-2">
                      <select name="selectType" id="selectType" style="display: inline-block;" class="form-control">
                        <option value="Specialization">Specialization</option>
                        <option value="Email">Email</option>
                        <option value="NIC">NIC</option>
                        <option value="PhoneNumber">Phone Number</option>
                        <option value="DoctorName">Doctor Name</option>
                      </select>
                    </div>
                    <div class="col-md-5">
                      <input type="text" id="DoctorSearchInput" name="DoctorSearchInput" class="form-control"
                        placeholder="Search Doctor Name (Max 30 Characters)">
                    </div>
                    <div class="col-md-2">
                      <button id="DoctorSearchBtn" class="btn btn-primary form-control">Search</button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- use for render doctors -->
              <section>
              <div style="text-align: center;" class="m-3">
                <h1>Doctors Information</h1>
              
                <% if (doctors && doctors.length) { %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Degree</th>
                        <th>Specialization</th>
                        <th>Email</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let doctor of doctors) { %>
                        <tr class="table-row-style">
                          <td>
                            <%= doctor.firstName %>
                          </td>
                          <td>
                            <%= doctor.lastName %>
                          </td>
                          <td>
                            <%= doctor.degree %>
                          </td>
                          <td>
                            <%= doctor.specialization %>
                          </td>
                          <td>
                            <%= doctor.email %>
                          </td>
                          <td><a href="/admin/doctor/<%= doctor._id %>" class="btn btn-primary">Edit</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <p>No doctors found.</p>
                    <% } %>
                  </div>
              </section>

            </div>
          </div>
        </div>
        </div>
    </main>

    <script>

      var toggleBtn = document.getElementById('toggleBtn');
      var content = document.getElementById('Registation');

      var overviewToggleBtn = document.getElementById('overviewToggleBtn');
      var Overview = document.getElementById('overview');

      toggleBtn.addEventListener('click', function () {
        if (content.classList.contains('hidden')) {
          Overview.classList.add('hidden');
          content.classList.remove('hidden');
        } else {
          content.classList.add('hidden');
        }
      });

      overviewToggleBtn.addEventListener('click', function () {
        if (Overview.classList.contains('hidden')) {
          content.classList.add('hidden');
          Overview.classList.remove('hidden');
        } else {
          Overview.classList.add('hidden');
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script src="/javascripts/boostrapFormValidation.js"></script>
    <script src="/javascripts/admin/admin.js"></script>
  </body>

  </html>