<% layout('layouts/doctorboilerplate')%>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section>
    <% if(patient) { %>
        <h1>Showing Ptient Details of <%= patient.firstName %>
        </h1>
        <% } %>
        <%= patient.lastName %>
        <%= patient.dateOfBirth %>
        <%= patient.gender %>
        <%= patient.nic %>
        <%= patient.contactNumber %>
        <%= patient.email %>
        <%= patient.address.number%>

        

</section>

    <section>
        <h2>show Diagnostic card and prescription details</h2>


        <div style="text-align: center;" class="mt-0 mb-4">
        </div>
        <% if (DiagnosticCardAndPrescriptions && DiagnosticCardAndPrescriptions.length) { %>
            <% for (let DiagnosticCardAndPrescription of DiagnosticCardAndPrescriptions) { %>
                <p>
                    date: <%= DiagnosticCardAndPrescription.date %>
                </p>
                <p>
                    Diagnostic details: <%= DiagnosticCardAndPrescription.diagnosticDetails %>
                </p>
                <p>
                    drug names <%= DiagnosticCardAndPrescription.medicationNames %>
                </p>
                <% } %>
                    </tbody>
                    </table>
                    <% } %>
    </section>

   
    <section>
        <h2>Adding Diagnostic card and prescription details</h2>
        <form action="/doctor/<%=doctorId %>/patients/<%= patient.id %>" method="post">
            <input type="text" name="patientId" value="<%= patient.id %>">
            <div>
                <div>
                    <label for="diagnosticDetails">Enter Diagnostic Details</label>
                </div>
                <textarea name="diagnosticDetails" id="diagnosticDetails" cols="30" rows="10" required></textarea>
            </div>
            <section>
                <div>
                    <label for="drug1">Enter Drug </label>
                    <input type="text" name="prescription[drug1]" id="drug1" required>
                </div>
                <div>
                    <label for="drug2">Enter Drug </label>
                    <input type="text" name="prescription[drug2]" id="drug1" required>
                </div>
                <div>
                    <label for="drug3">Enter Drug </label>
                    <input type="text" name="prescription[drug3]" id="drug1" required>
                </div>
            </section>
            <button type="submit">Submit Prescription</button>
        </form>
    </section>