<% layout('layouts/patientboilerplate')%>

  <section class="d-flex align-items-center" style="margin-top: 10%;">
    <div class="container">
      <div class="card">
        <div class="card-body d-flex">
          <div class="">
           
            <i class="fas fa-user-md fa-5x mx-3" style="color: #007bff;"></i>
            <h4 class="card-subtitle mb-2 mt-3">Dr.<%= doctor.firstName %>
                <%= doctor.lastName %>
            </h4>
          </div>
          <div class="mx-4 p-3">
            <h6 class="">Specialization : <%= doctor.specialization %></h6>
            <h6 class="">Email :  <%= doctor.email %></h6>
            <h6 class="">Cantact Number : <%= doctor.contactNumber %></h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div style="text-align: center;" class="mt-n4">
      <h1>Appointments</h1>
      <br><br>
      <% if (appointments && appointments.length> 0) { %>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Room Number</th>
              <th>Number of Patients</th>
              <th>Maximum Number of Patients</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (let appointment of appointments) { %>
              <tr class="table-row-style">
                <td>
                  <%= appointment.date %>
                </td>
                <td>
                  <%= appointment.time %>
                </td>
                <td>
                  <%= appointment.roomNumber %>
                </td>
                <td>
                  <%= appointment.currentPatients %>
                </td>
                <td>
                  <%= appointment.maximumPatients %>
                </td>
                <td>
                  <form action="/patient/<%= patientId %>/<%= doctor._id %>/appointments" method="post">
                    <input type="text" value="<%= appointment.id %>" name="appointmentId" hidden>
                    <button type="submit" class="btn btn-primary">Make the apponitment</button>
                  </form>
                </td>
              </tr>
          </tbody>
        </table>
        <% } %>
          <% } else { %>
            <p>No Appointments</p>
            <% } %>
    </div>
  </section>