<% layout('layouts/patientboilerplate')%>

<section class="d-flex align-items-center" style="margin-top: 10%">
  <div class="container">
    <div class="card">
      <div class="card-body d-flex">
        <div class="">
          <i class="fas fa-user-md fa-5x mx-3" style="color: #007bff"></i>
          <h4 class="card-subtitle mb-2 mt-3">
            Dr.<%= doctor.firstName %> <%= doctor.lastName %>
          </h4>
        </div>
        <div class="mx-4 p-3">
          <h6 class="">Specialization : <%= doctor.specialization %></h6>
          <h6 class="">Email : <%= doctor.email %></h6>
          <h6 class="">Cantact Number : <%= doctor.contactNumber %></h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div style="text-align: center" class="mt-n4">
    <h1>Appointments</h1>
    <br /><br />
    <% if (appointments && appointments.length> 0) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Room Number</th>
          <th>Number of Patients</th>
          <th>Maximum Number of Patients</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let appointment of appointments) { %>
        <tr class="table-row-style">
          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
          <td><%= appointment.roomNumber %></td>
          <td><%= appointment.currentPatients %></td>
          <td><%= appointment.maximumPatients %></td>
          <td>
            <form
              id="appointmentForm"
              action="/patient/<%= patient._id %>/<%= doctor._id %>/appointments"
              method="post"
            >
              <input
                type="text"
                value="<%= appointment.id %>"
                name="appointmentId"
                hidden
              />
            </form>
            <button
              onclick="paymentGateway('<%= appointment.id %>')"
              class="btn btn-primary"
            >
              Make the apponitment
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <% } %> <% } else { %>
    <p>No Appointments</p>
    <% } %>
  </div>
</section>

<script src="https://www.payhere.lk/lib/payhere.js"></script>
<script>
  function paymentGateway(appointmentId) {
    // Payment configuration
    var paymentConfig = {
      sandbox: true,
      merchant_id: "1224383", // Replace your Merchant ID
      return_url: "#", // Important
      cancel_url: "#", // Important
      notify_url: "#",
      order_id: "5",
      items: "Appoinment with Dr. <%= doctor.firstName %>",
      amount: "1000",
      currency: "LKR",
      hash: "<%= paymentHash %>", // *Replace with generated hash retrieved from backend
      first_name: "<%= patient.firstName %>",
      last_name: "<%= patient.lastName %>",
      email: "<%= patient.email %>",
      phone: "<%= patient.contactNumber %>",
      address: "<%= patient.address %>",
      city: "<%= patient.address.city %>",
      country: "Sri Lanka",
    };

    // Initialize PayHere
    payhere.onCompleted = function onCompleted() {
      document.getElementById("appointmentForm").submit();
    };

    payhere.onDismissed = function onDismissed() {
      // Note: Prompt the user to pay again or show an error page
      console.log("Payment dismissed");
    };

    payhere.onError = function onError(error) {
      // Note: Show an error page
      console.log("Error:" + error);
    };

    // Open the PayHere payment modal
    payhere.startPayment(paymentConfig);
  }
</script>
