<% layout('layouts/patientboilerplate')%>
<br><br>
<section id="patientid" class="d-flex align-items-center">
  <div class="container">
    <h1>Welcome <br> <%= patient.firstName%></h1>
  </div>
</section>
<section id="doctor" class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 class="text-center">Search Doctors</h2>
        <p class="text-center">Quickly find and access information of doctors.</p>

        <form action="/patient/<%= patient.id %>/doctors" method="post">
          <div class="m-3">
            <div>
            <label for="forType">Select Type : </label>
            </div>
            <select class="form-control" name="selectType" id="selectType">
              <option value="doctor">Doctors</option>
              <option value="Specialization">Specialization</option>
            </select>
          </div>

          <div class="input-group m-3">
            <input type="text" class="form-control" id="DoctorSearchInput" name="DoctorSearchInput" placeholder="Search Doctor Name (Max 30 Characters)">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="DoctorSearchBtn">Search</button>
            </div>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</section>
    <!-- This form use to search doctors for make an appointments by patient -->
    <section>
      <div class="container">
      <% if (doctor && doctor.length > 0) { %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Specialization</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for (let d of doctor) { %>
              <tr>
                <td><%= d.firstName %> <%= d.lastName %></td>
                <td><%= d.specialization %></td>
                <td>
                  <a href="/patient/<%= patient._id %>/<%= d._id %>/appointments" class="btn btn-primary">Book Now</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
      </div>
    </section>

  <!-- Future Appointments -->
  <section>
    <div style="text-align: center;" class="container mt-n4" >
      <h1>Future Appointments</h1>
      <br><br>
      <% if (upcomingAppointments && upcomingAppointments.length) { %>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Room Number</th>
              <th>Doctor Name</th>
              <th>Doctor specialization</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (let upcomingAppointment of upcomingAppointments) { %>
              <tr class="table-row-style">
                <td>
                  <%= upcomingAppointment.appointment.date %>
                </td>
                <td>
                  <%= upcomingAppointment.appointment.time %>
                </td>
                <td>
                  <%= upcomingAppointment.appointment.roomNumber %>
                </td>
                <td>
                  <% if (upcomingAppointment.doctor) { %>
                    <%= upcomingAppointment.doctor.firstName %>
                  <% } else { %>
                    Doctor information not available
                  <% } %>
                </td>
                <td>
                  <% if (upcomingAppointment.doctor) { %>
                    <%= upcomingAppointment.doctor.specialization %>
                  <% } else { %>
                    Doctor information not available
                  <% } %>
                </td>
                <td><a href="" class="btn btn-primary">Remove Appointment</a></td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <% } else { %>
          <p>No upComming Appointments</p>
          <% } %>
        </div>
    </section>


   <!-- Diagnostic Card & Prescription Details -->
   <section>
    <div class="mx-3">
        <div class="text-center">
          <h2 class="fw-bold text-center">Diagnostic Card & Prescription Details</h2>
        </div>
        <div class="container">
          <div class="row mt-4">
            <% if (DiagnosticCardAndPrescriptions && DiagnosticCardAndPrescriptions.length) { %>
              <% for (let i = 0; i < DiagnosticCardAndPrescriptions.length; i++) { %>
                <% if (i % 1 === 0) { %>
                  </div>
                  <div class="row mt-1">
                <% } %>
                <div class="col-md px-4">
                  <div class="card mb-4" style="border: 1px solid #ffffff; background-color: rgba(184, 217, 243, 0.1); border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
                    <div class="card-body">
                      <h5 class="card-title">Date: <%= new Date(DiagnosticCardAndPrescriptions[i].date * 1000).toLocaleString() %></h5>
                      <p class="card-text">Diagnostic Details: <%= DiagnosticCardAndPrescriptions[i].diagnosticDetails %></p>
                      <p class="card-text">Drug Names: <%= DiagnosticCardAndPrescriptions[i].medicationNames %></p>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
  </section>

  <!-- Medical Reports -->
  <section>
        <div class="text-center">
          <h2 class="fw-bold text-center">Medical Reports</h2>
        </div>
        <div>
          <div class="container">
            <% if (patient && patient.report.length) { %>

            <table class="table text-center">
                <thead>
                  <tr>
                    <th>Report Type</th>
                    <th>Report Date</th>
                    <th>Report</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let report of patient.report) { %>
                    <tr class="table-row-style">
                      <td>
                        <%= report.reportType %>
                      </td>
                      <td>
                        <%= report.createdAt %>
                      </td>
                      <td>
                        <a href="<%= report.url %>" target="_blank"><%= report.reportType %></a>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
              <% } else { %>
                <p>No Reports found.</p>
                <% } %>
          </div>
        </div>

      
</section>

<!-- Future Appointments -->
<section>
  <div style="text-align: center;" class="mt-n4" >
    <h1>Past Appointments</h1>
    <br><br>
    <% if (pastAppointments && pastAppointments.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Room Number</th>
            <th>Doctor Name</th>
            <th>Doctor specialization</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let pastAppointment of pastAppointments) { %>
            <tr class="table-row-style">
              <td>
                <%= pastAppointment.appointment.date %>
              </td>
              <td>
                <%= pastAppointment.appointment.time %>
              </td>
              <td>
                <%= pastAppointment.appointment.roomNumber %>
              </td>

              <td>
                <% if (pastAppointment.doctor) { %>
                  <%= pastAppointment.doctor.firstName %>
                <% } else { %>
                  Doctor information not available
                <% } %>
              </td>
              <td>
                <% if (pastAppointment.doctor) { %>
                  <%= pastAppointment.doctor.specialization %>
                <% } else { %>
                  Doctor information not available
                <% } %>
              </td>
              <td><a href="" class="btn btn-primary">Remove Appointment</a></td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <p>No Past Appointments</p>
        <% } %>
      </div>
  </section>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/show.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  
    